<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    使用Spring来创建对象   在Spring中这些称为beans

Hello hello = new Hello();
类型 变量名 = new 类型();
id == 变量名
class == 对象
property 相当于给对象中的属性设置一个值！
-->

<!--  ref 是引用Spring容器中创建好的对象
      values 是指具体的值
 -->
    <bean id="Hello" class="com.tq.pojo.Hello">
        <property name="str" value="Hello Spring"/>
    </bean>
</beans>